<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666491525925-5jfon156rue0crp1l8ie7e5se6a0sahh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666491525925-5jfon156rue0crp1l8ie7e5se6a0sahh</string>
	<key>API_KEY</key>
	<string>AIzaSyDTjDiiqXjMFSNWI10-tP9nh-EFLDue0a8</string>
	<key>GCM_SENDER_ID</key>
	<string>666491525925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab08</string>
	<key>PROJECT_ID</key>
	<string>fir-cloud-f6c2a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cloud-f6c2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666491525925:ios:ff348f8b4a0b0d2463d8cc</string>
</dict>
</plist>